@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.btn {
  display: block;
  font-size: 1.4rem;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background-color: #93cb52;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-green:hover {
  background-color: #7ab436;
}

.btn-dark {
  background-color: #343435;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-dark:hover {
  background-color: #1b1b1b;
}

.main-title {
  font-size: 2rem;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 1025px) {
  .main-title {
    font-size: 3.2rem;
  }
}

.main-title--span {
  color: #93cb52;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343435;
  color: #fff;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar__logo {
  padding: 15px;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.navbar__logo--span {
  color: #93cb52;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .navbar__items {
    margin-bottom: 0;
  }
}

.navbar__item {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 15px;
}

.navbar__item:hover {
  background-color: #93cb52;
  border-radius: 5px;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/city.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/city.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 30px;
  color: #fff;
}

.header__title {
  font-size: 3.4rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0;
  font-weight: 100;
}

@media (min-width: 500px) {
  .header__title {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.header__paragraph {
  text-align: center;
  line-height: 160%;
  font-size: 1.4rem;
}

.header__button {
  margin-top: 30px;
  color: white;
}

.skills {
  margin-bottom: 30px;
}

@media (min-width: 1025px) {
  .skills {
    padding: 30px 0;
  }
}

.skills__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .skills__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

@media (min-width: 500px) {
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1025px) {
  .portfolio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio_img {
  font-size: 2rem;
  background-color: #93cb52;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 500px) {
  .portfolio_img {
    margin-right: 0;
    width: 40px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1025px) {
  .portfolio_img {
    margin-right: 10px;
    font-size: 2.4rem;
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 500px) {
  .portfolio__content {
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .portfolio__content {
    text-align: left;
  }
}

.portfolio__header {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .portfolio__header {
    font-size: 1.8rem;
  }
}

.portfolio__paragraph {
  font-size: 1.2rem;
  line-height: 140%;
}

@media (min-width: 1025px) {
  .portfolio__paragraph {
    font-size: 1.4rem;
  }
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #343435;
  color: #fff;
  padding: 10px 20px;
}

@media (min-width: 500px) {
  .people {
    padding: 0;
  }
}

.people__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: none;
  background-image: url("../img/computer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.people__description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 500px) {
  .people__img {
    display: block;
  }
  .people__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 10px 20px;
  }
}

.company__paragraph {
  font-size: 1.4rem;
  line-height: 140%;
}

.company__members {
  font-size: 1.6rem;
  padding: 10px 0;
}

.company__member {
  font-size: 1.4rem;
  line-height: 170%;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

.clients {
  padding: 10px 10px;
}

@media (min-width: 1025px) {
  .clients {
    padding: 20px 10px;
  }
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1025px) {
  .clients__container {
    padding: 20px 0;
  }
}

.clients__img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__img img {
  width: 100%;
}

@media (min-width: 500px) {
  .clients__img img {
    width: 60%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contact__header {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact__paragraph {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #93cb52;
  color: #fff;
  padding: 20px;
}

.contact__map {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  background-color: crimson;
}

@media (min-width: 500px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__form {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .contact__map {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 1025px) {
  .contact__header {
    font-size: 3.4rem;
    margin-bottom: 20px;
  }
  .contact__paragraph {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  padding: 5px 10px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form textarea {
  height: 50px;
}

.form__btn.btn {
  color: #fff;
  width: 100px;
}

@media (min-width: 1025px) {
  .form label {
    font-size: 1.6rem;
  }
  .form input,
  .form textarea {
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  .form textarea {
    height: 100px;
  }
}
/*# sourceMappingURL=main.css.map */